html,body {
	height: 100%;
	font-size: 1px;
}

body {
	font-family: "Poppins", sans-serif;
	background: var(--dark);
	color: var(--white);
	font-size: 16rem;
}



.container {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100%;
}
#root {
	height: 100%;
}


