.header {
  display: flex;
  align-items: center;
  padding: 40rem 42rem 65rem 32rem;
  gap: 32rem;
  font-size: 16rem;

  font-weight: 500;
  line-height: 18rem;
}

.user {
	margin-left: auto;

	display: flex;
	gap: 24rem;
	align-items: center;
}